# Stylesheets
.sass-cache/
*.css.map

# history
.history
.vscode
.idea

#Local environment variables
.env.local

# Node Modules
node_modules/
yarn.lock

# JS Mapping files
*.js.map

# Misc
.DS_Store

# Envirnmental variable
.env

# build files
docs
